* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e1edf4;
}

h2 {
  margin-bottom: 1.2rem;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

p {
  line-height: 1.8;
}

h2 {
  color: rgba(44, 178, 179, 1);
}

ul {
  list-style-type: none;
  color: hsl(204, 43%, 93%, 80%);
  margin-top: 0.5rem;
}

ul li {
  margin-bottom: 5px;
  font-size: 14px;
}

.card {
  width: 631px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  overflow: hidden;
}

.top-section,
.bottom-left,
.bottom-right {
  padding: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-section {
  background-color: white;
  flex: 1;
}

.top-section h2 {
  margin-bottom: 1.5rem;
}

.top-section p {
  color: hsl(218, 22%, 67%);
}

.top-section .moneyback {
  color: hsl(71, 73%, 54%);
}

.bottom-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  color: white;
}

.bottom-left {
  background-color: rgba(44, 178, 179, 1);
  width: 50%;
}

.bottom-left p {
  margin-bottom: 0.5rem;
}

.bottom-right {
  background-color: rgba(74, 190, 189, 255);
  width: 50%;
}

.price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.price-value {
  font-size: 32px;
  font-weight: 700;
  margin-right: 10px;
}

.price-mensuality {
  margin-right: 5px;
  color: hsl(204, 43%, 93%, 60%);
}

.signup-btn {
  width: 100%;
  height: 50px;
  display: block;
  margin-top: 15px;
  background-color: hsl(71, 73%, 54%);
  color: white;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-family: 700;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #3cae903f;
}

@media screen and (max-width: 576px) {
  .card {
    width: 375px;
  }

  .bottom-section {
    flex-direction: column;
  }

  .top-section,
  .bottom-left,
  .bottom-right {
    padding: 1.8rem;
  }

  .bottom-left,
  .bottom-right {
    flex: none;
    width: 100%;
    box-sizing: border-box;
  }
}
